                /* ПОЛИТРА ЦВЕТОВ */
:root {
    --main-color: #757575; /*Основной цвет текста - цвет абзаца*/
    --secondary-color: #212121; /*Вторичный цвет текста - цвет заголовков*/
    --accent-color: #2196F3; /*Акцент - цвет ссылок*/
    --brand-white-color: #FFFFFF; /*Основной белый цвет логотип, футер, герой*/
    --logo-black-color: #000000; /*Цвет логотипа в шапке*/
    --mail-footer-color: rgba(255, 255, 255, 0.6); /*Цвет почты футера*/
    --main-background: #FFFFFF; /*Основной цвет фона*/
    --secondary-background: #F5F4FA; /*Вторичный цвет фона*/
    --footer-background: #2F303A; /*Фон футера и Героя*/
    --btn-background: #F5F4FA; /*Цвет кнопки*/
    --header-background: #FFFFFF; /*Фон Header*/
}

/* ----------------ОБЩИЕ КЛАССЫ СЕКЦИЙ------------------ */
.body {                /*Цвет и Шрифт текста параграфов в секциях*/
    color: var(--main-color);
    font-family: Roboto, sans-serif;
}
.list-none {           /*Убираем маркировку списка*/
    list-style: none; 
}
.link-none {          /*Убираем дикорирование ссылок*/
    text-decoration: none;
}
.section-title {   /*Заголовок Секции h2*/
    color: var(--secondary-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-bottom: 50px;
}
h1, h2, h3, p, ul {  /*Сброс марджинов браузера*/
    margin-top: 0;
    margin-bottom: 0;
}
.section {      /* Обертка секций контента*/
    background-color: var(--main-background);

    padding-top: 94px;
    padding-bottom: 94px;
}

.conteiner {   /*Контейнер для центрирования шапки, контента и футера*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}
.conteiner.center {    /*Центрирование заголовков*/
    text-align: center;
}

/* -----------------ШАПКА (HEADER)-------------------- */
.header {
    background-color: var(--header-background);
}
.conteiner.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-flex {
    display: flex;
    align-items: center;
}
/* Логотип */
.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-black {
    color: var(--logo-black-color);
}
/* Навигация */
.site-nav {
    display: flex;
    padding-left: 93px;
}
.site-nav-item:not(:last-child) {
    margin-right: 50px;
}
.site-nav-link {
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav-link.current {
    color: var(--accent-color);
}
.contacts-nav {
    display: flex;
    padding-left: 0;
}
.contacts-nav-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-nav-link {
    color: var(--main-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav-link:hover, .site-nav-link:focus, .contacts-nav-link:hover, .contacts-nav-link:focus {
    color: var(--accent-color);
}

/* ------------------стр Студия*/

/* -------------------ГЕРОЙ------------------------------ */
.hero {
    background-color: var(--footer-background);

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-title {
    color: var(--brand-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 30px;
}
.hero-button {
    color: var(--brand-white-color);

    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    cursor: pointer;

    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 32px;
}

/* ------------------СЕКЦИЯ ОСОБЕННОСТИ-------------------- */
.section.features-padding {
    padding-bottom: 0;
}
.features {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    display: flex;
    padding-left: 0;
    justify-content: center;
}
.features-item {
    width: 270px;
}
.features-item:not(:last-child) {
    margin-right: 30px; 
}
.features-title {  /*Заголовок h3 секция Особенности*/
    color: var(--secondary-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 10px;
}

/* ----------------СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ ----------------*/
.work {
    display: flex;
    padding-left: 0;
    justify-content: center;
}
.work-item {
    width: 370px;
}
.work-item:not(:last-child) {
    margin-right: 30px; 
}

/* ------------------СЕКЦИЯ НАША КОМАНДА -------------------*/
.section.team-bgc {
    background-color: var(--secondary-background);
}
.team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    display: flex;
    padding-left: 0;
    justify-content: center;
}
.team-item {
    background-color: var(--brand-white-color);
    width: 270px;
}
.team-item:not(:last-child) {
    margin-right: 30px; 
}
.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-title {     /*Заголовок h3 секция Наша команда*/
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-bottom: 10px;
}

/* -------------------стр Портфолио*/
    
/* ------------------СЕКЦИЯ ФИЛЬТР-------------------------- */
.filter {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    padding-left: 0;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filter-item:not(:last-child) {
    margin-right: 8px; 
}
.btn {
    color: var(--secondary-color);
    background-color: var(--btn-background);

    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    display: inline-block;
    padding: 6px 22px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn:hover, .btn:focus {
    color: var(--brand-white-color);
    background-color: var(--accent-color);
}

/* ------------------СЕКЦИЯ ГАЛЕРЕЯ -------------------------*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}
.gallery-item {
    background-color: var(--brand-white-color);

    width: 370px; /*----calc((100% - кол-во марджинов в строке * значение марджина)/кол-во элем. в строке)----*/
    margin-right: 30px;
    margin-bottom: 30px;
}
.gallery-item:nth-child(3n){
    margin-right: 0;
}
.gallery-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.gallery-block {
    display: block;
}

.gallery-card {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.gallery-title {    /*Заголовок h2 секция Галерея*/
    color: var(--secondary-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    display: inline-block;
    margin-bottom: 4px;
}

/* --------------------ПОДВАЛ (FOOTER)--------------------- */
/* Логотип */
.footer {
    background-color: var(--footer-background);

    padding-top: 60px;
    padding-bottom: 60px;
}
.contacts {
    padding-left: 0;
}

.logo-white {
    color: var(--brand-white-color);

    display: inline-block;
    margin-bottom: 20px;
}
.link-adress {
    color: var(--brand-white-color);

    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-bottom: 9px;
}
.link-contacts {
    color: var(--mail-footer-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.link-distance {
    display: inline-block;
    margin-bottom: 9px;
}
.link-adress:hover, .link-adress:focus, .link-contacts:hover, .link-contacts:focus {
    color: var(--accent-color);
}


